
*{
    margin: 0px;
}

#header {

}

.menu {

}

a {

}

section {

}

.img {

}

.box {
    display: flex;
}

p {
    justify-content: space-between;
    width: 200px;
}

footer {

}

h1 {

}

h3 {

}