.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    background-color: antiquewhite;
    border-radius: 5px;
    border: 2px solid coral;
}

.container > div{
    border: 2px solid rgb(242, 167, 102);
    border-radius: 5px;
    background-color: rgb(255, 206, 142);
    padding: 1em;
    color: crimson;
}

.box1 {
    
    display: grid;
    grid-column: 1/4;
    grid-row: 1/8;
    grid-template-columns: repeat(3, 1fr);
}
.header{
    display: subgrid;
    grid-column: 1/4;
    grid-row: 1/2;
    
}
.sidebar {
    display: subgrid;
    grid-column: 1/1;
    grid-row:2/5;
    height: 600px;
}
.content1{
    display: subgrid;
    grid-column: 2/4;
    grid-row: 2/5;
}
.content2{
    display: subgrid;
    grid-column: 3/4 ;
    grid-row: 5/8 ;

}
.content3{
    display: subgrid;
    grid-column: 2/3;
    grid-row: 5/8;

}
.footer{
    display: subgrid;
    grid-column:1/4 ;
    grid-row: 8/8 ;

}
