.container {  display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "sidebar content content"
      "sidebar content2 content3"
      "sidebar content2 content3"
      "sidebar content2 content3"
       "footer footer footer";
}

  
.header{ 
    grid-area: header;
    background-color: brown;
    height: 300px;
   


}
  
.sidebar{ 
    grid-area: sidebar;
    background-color: yellowgreen;
    height: 600px; 
  


 
}
  
  .content{ 
    grid-area: content;
    background-color: tomato;

}
  
  .content2{ 
    grid-area: content2; 
    background-color: slateblue;
    height: 300px;

}
  
  .content3 { 
    grid-area: content3;
    background-color: rebeccapurple;

}
  
  .footer { 
    grid-area: footer;
    background-color: rgb(234, 63, 1);
    height: 300px;


}
  